# Dependencies
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env

# Build outputs
frontend/dist/

# Screenshots (keep folder, ignore contents)
uploads/screenshots/**
!uploads/screenshots/.gitkeep

# Docker volumes
postgres_data/
rabbitmq_data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
.DS_Store

# Temp
temp/
tmp/

synthesize.md

